_old/*
data/cifar-10-python.tar.gz
data/MNIST/processed/test.pt
data/MNIST/processed/training.pt
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
data/reviews.txt
data/reviews_발열.txt
data/reviews_발열_cut.txt
data/reviews_소음.txt
data/reviews_소음_cut.txt
data/bitcoin_data.csv
data/score_발열.xlsx
data/score_소음.xlsx
